body { 
	overflow: hidden;
	background: #337AB7;
}
.login-container{
	margin-top: 150px;
    padding: 15px 0;
    float: right;
}
.login-container .login{
	background-color: #0000FF;
	color: #fff;
	font-size: 1.2em;
	padding: 5px 20px;
}
.login-container .forgot{
	color: #fff;
	font-size: 1.2em;
	padding-left: 5px;
}
.logo-container img{
	padding-top: 100px;
}
